---
- name: Install role dependencies
  ansible.builtin.apt:
    pkg: "{{ dovecot_dependencies }}"
    cache_valid_time: 600

- name: Ensure mail user is present
  ansible.builtin.user:
    name: vmail
    home: "{{ dovecot_vmail_path }}"
    shell: /bin/false
    state: present
    uid: "{{ dovecot_mail_uid }}"
  when: not dovecot_backup_follower

- name: Ensure mail user is present
  ansible.builtin.user:
    name: vmail
    home: "{{ dovecot_vmail_path }}"
    shell: /bin/bash
    state: present
    uid: "{{ dovecot_mail_uid }}"
  when: dovecot_backup_follower

- name: Ensure mail home is present
  ansible.builtin.file:
    path: "{{ dovecot_vmail_path }}"
    state: directory
    owner: vmail
    group: vmail
    mode: "u+rw,g+rw,o-rwx"

- name: Ensure dovecot is installed
  ansible.builtin.apt:
    pkg: "{{ dovecot_apt_packages }}"
    state: present

- name: Import systemd tasks
  ansible.builtin.import_tasks: systemd.yml

- name: Ensure dovecot is in group of userli
  ansible.builtin.user:
    name: dovecot
    append: true
    groups: "{{ dovecot_userli_user }}"

# - name: Set instance_name
#   ansible.builtin.lineinfile:
#     path: /etc/dovecot/dovecot.conf
#     line: "instance_name = {{ dovecot_instance_name }}"
#     regexp: "instance_name ="
#   notify: Restart dovecot
# 
# - name: Set login greeting
#   ansible.builtin.lineinfile:
#     path: /etc/dovecot/dovecot.conf
#     line: "login_greeting = {{ dovecot_login_greeting }} ready."
#     regexp: "login_greeting ="
#   notify: Restart dovecot

- name: Create self-signed ssl cert
  when: dovecot_ssl_key is not defined
  block:
    - name: Adjust ssl config
      ansible.builtin.template:
        src: dovecot-openssl.cnf.j2
        dest: /etc/dovecot/dovecot-openssl.cnf
        owner: root
        group: root
        mode: 0644

    - name: Ensure ssl folder is present
      ansible.builtin.file:
        path: /etc/dovecot/ssl
        state: directory
        owner: root
        group: dovecot
        mode: 0640

    - name: Create cert
      ansible.builtin.command: /usr/share/dovecot/mkcert.sh
      args:
        creates: /etc/dovecot/ssl/dovecot.pem
        chdir: /etc/dovecot

- name: Create DH param
  ansible.builtin.command: "openssl dhparam -out /etc/dovecot/dh.pem 4096"
  args:
    creates: /etc/dovecot/dh.pem
  when: not __testing|d()
  tags:
    - molecule-notest

- name: Import sieve tasks
  ansible.builtin.import_tasks: sieve.yml

- name: Configure dovecot
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: /etc/dovecot/conf.d/{{ item }}
    owner: root
    group: root
    mode: 0644
  with_items:
    - 10-auth.conf
    - 10-mail.conf
    - 10-master.conf
    - 10-ssl.conf
    - 15-lda.conf
    - 15-mailboxes.conf
    - 20-imap.conf
    - 20-managesieve.conf
    - 90-quota.conf
    - 90-sieve.conf
    - 90-stats.conf
  notify: Restart dovecot

- name: Configure mail_crypt
  ansible.builtin.copy:
    src: 90-mail-crypt.conf
    dest: /etc/dovecot/conf.d/
    owner: root
    group: root
    mode: 0644
  notify: Restart dovecot
  when: '"mail_crypt" in dovecot_mail_plugins'

- name: Set dovecot user limit in sysctl
  ansible.posix.sysctl:
    name: "fs.inotify.max_user_instances"
    value: "{{ dovecot_max_user_inst | default(1024) }}"
    state: present
    sysctl_file: /etc/sysctl.d/90-ansible-fs.conf
    sysctl_set: true

- name: Import openmetrics tasks
  ansible.builtin.import_tasks: openmetrics.yml
  when: dovecot_openmetrics_enabled
  tags: openmetrics

- name: Import backup leader tasks
  ansible.builtin.import_tasks: dovecot_backup_lead.yml
  when: dovecot_backup_lead
  tags:
    - dovecot_backup
    - dovecot_backup_lead

- name: Import backup follower tasks
  ansible.builtin.import_tasks: dovecot_backup_follower.yml
  when: dovecot_backup_follower
  tags:
    - dovecot_backup
    - dovecot_backup_follower
