---

- name: Ensure common sieve dir is present
  ansible.builtin.file:
    group: root
    mode: "0755"
    owner: root
    path: "{{ dovecot_sieve_common_script_dir }}"
    state: directory

- name: Render common sieve rule files
  ansible.builtin.template:
    dest: "{{ dovecot_sieve_common_script_dir }}/{{ item }}"
    mode: "0644"
    owner: root
    src: "templates/sieve/{{ item }}.j2"
  loop:
    - default.sieve
    - report-spam.sieve
  notify:
    - Compile sieve scripts
