---
- name: Create systemd drop in directory
  ansible.builtin.file:
    path: /etc/systemd/system/dovecot.service.d/
    owner: root
    group: root
    mode: 0755
    state: directory

- name: Copy systemd limits drop in
  ansible.builtin.copy:
    src: systemd/system/dovecot.service.d/limits.conf
    dest: /etc/systemd/system/dovecot.service.d/limits.conf
    owner: root
    group: root
    mode: 0644
  notify:
    - Reload systemd
    - Restart

- name: Copy environment file
  ansible.builtin.copy:
    content: "{{ dovecot_systemd_environment }}"
    dest: /etc/default/dovecot
    owner: root
    group: root
    mode: 0640
  notify:
    - Reload systemd
    - Restart

- name: Copy systemd environment drop in
  ansible.builtin.copy:
    src: systemd/system/dovecot.service.d/environment.conf
    dest: /etc/systemd/system/dovecot.service.d/environment.conf
    owner: root
    group: root
    mode: 0644
  notify:
    - Reload systemd
    - Restart
