# Authentication for checkpassword users. Included from 10-auth.conf.
#
# <doc/wiki/AuthDatabase.CheckPassword.txt>

passdb {
  driver = checkpassword
  args = {{ dovecot_usrmgmt_path}}/bin/checkpassword
}

# passdb lookup should return also userdb info
userdb {
  driver = prefetch
}

# The userdb below is used only by lda.
userdb {
  driver = checkpassword
  args = {{ dovecot_usrmgmt_path}}/bin/checkpassword
}
