# Authentication for checkpassword users. Included from 10-auth.conf.
#
# <doc/wiki/AuthDatabase.CheckPassword.txt>

passdb {
  driver = checkpassword
  args = /usr/bin/sudo -u {{ dovecot_usrmgmt_user }} {{ dovecot_usrmgmt_path}}/bin/console usrmgmt:users:checkpassword
}

# passdb lookup should return also userdb info
userdb {
  driver = prefetch
}
